<!-- <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar> -->
<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Home</h4>
            </li>
            <!-- <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li> -->
            <li class="breadcrumb-item active">Dashboard</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Widgets -->
    <div class="row" >
      <div class="col-lg-4 col-sm-12">
        <div class="counter-box text-center">
          <div  *ngIf="usuarioLogado.tipo == 1" class="text font-17 m-b-40 m-t-15"><h2 style="color: #5653ED;"><strong>Solicitações de Locação</strong></h2></div>
          <div  *ngIf="usuarioLogado.tipo == 1" class="row">
            <div class="col-lg-4">
              <div class="text font-20 m-b-5" style="color: #949494;">Total</div>
              <h3 class="m-b-10" style="color: #5653ED;">{{totalLocacao}}
                <!-- <i class="material-icons">trending_up</i> -->
              </h3>
            </div>
            <div class="col-lg-4">
              <div class="text font-20 m-b-5" style="color: #949494;">Aprovadas</div>
              <h3 class="m-b-10" style="color: #5653ED;">{{totalLocacaoAprovada}}
                <!-- <i class="material-icons col-green">done_all</i> -->
              </h3>
            </div>
            <div class="col-lg-4">
              <div class="text font-20 m-b-5" style="color: #949494;">Reprovadas</div>
              <h3 class="m-b-10" style="color: #5653ED;">{{totalLocacaoReprovada}}
                <!-- <i class="material-icons col-red">clear</i> -->
              </h3>
            </div>
           
          </div>
          <div class=" m-t-30">
            <app-solicitacoes-pendentes></app-solicitacoes-pendentes>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12"  *ngIf="usuarioLogado.tipo == 1" layout="column">
        <div class="counter-box text-center">
          <app-status-veiculos-chart></app-status-veiculos-chart>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="counter-box text-center">
          <div class="text font-17 m-b-40 m-t-15"  *ngIf="usuarioLogado.tipo == 1"><h2 style="color: #5653ED;"><strong>Veículos</strong></h2></div>
          <div class="row"  *ngIf="usuarioLogado.tipo == 1">
            <div class="col-lg-6">
              <div class="text font-20 m-b-5" style="color: #949494;">Em Locação</div>
              <h3 class="m-b-10" style="color: #5653ED;">30
                <!-- <i class="material-icons">trending_up</i> -->
              </h3>
            </div>
            <div class="col-lg-6">
              <div class="text font-20 m-b-5" style="color: #949494;">Disponíveis</div>
              <h3 class="m-b-10" style="color: #5653ED;">50
                <!-- <i class="material-icons col-green">done_all</i> -->
              </h3>
            </div>
          </div>
          <div class=" m-t-30">
            <app-veiculos-disponiveis></app-veiculos-disponiveis>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
