<div class="row clearfix" >
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div>
          <h3 style="color: #5653ED;">
            <strong>{{usuarioLogado.tipo == 1 ?  'Veículos Disponíveis' : 'Minhas Solicitacoes'}}</strong>
          </h3>
        </div>
        <div class="body table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>{{usuarioLogado.tipo == 1 ? 'Veículo' : 'Data Solicitação'}}</th>    
                <th>{{usuarioLogado.tipo == 1 ? 'Placa' : 'Status'}}</th>
                <th>{{usuarioLogado.tipo == 1 ? 'Cor' : 'Veículo'}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ultimosDisponiveis">
                <th scope="row">{{item.veiculo}}</th>
                <td>{{item.placa}}</td>
                <td>{{item.cor}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
