<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
                <li class="breadcrumb-item">
                <h4 class="page-title">Cadastro de usuário</h4>
                </li>
            </ul>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="body">
              <form class="register-form m-4" [formGroup]="register" (ngSubmit)="onRegister()">
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Nome</mat-label>
                      <input matInput formControlName="nome" required>
                      <mat-icon matSuffix>face</mat-icon>
                      <mat-error *ngIf="register.get('nome').hasError('required')">
                        Nome é obrigatório
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Sobrenome</mat-label>
                      <input matInput formControlName="sobrenome">
                      <mat-icon matSuffix>face</mat-icon>
                      <mat-error *ngIf="register.get('sobrenome').hasError('required')">
                        Sobrenome é obrigatório
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>CPF</mat-label>
                      <input matInput mask="000.000.000-00" formControlName="cpf" required>
                      <mat-icon matSuffix>card_membership</mat-icon>
                      <mat-error *ngIf="register.get('cpf').hasError('cpf')">
                        CPF é obrigatório
                      </mat-error>
                    </mat-form-field>
                  </div>
               </div>        
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="email" required>
                      <mat-icon matSuffix>email</mat-icon>
                      <mat-error *ngIf="register.get('email').hasError('required') || register.get('email').touched">
                        E-mail inválido
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Logradouro</mat-label>
                      <input matInput  formControlName="logradouro" required>
                      <!-- <mat-icon matSuffix>telefone</mat-icon> -->
                      <mat-error *ngIf="register.get('logradouro').hasError('required') || register.get('logradouro').touched">
                        Logradouro é obrigatório
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Cidade</mat-label>
                      <input matInput  formControlName="cidade" required>
                      <!-- <mat-icon matSuffix>telefone</mat-icon> -->
                      <mat-error *ngIf="register.get('cidade').hasError('required') || register.get('cidade').touched">
                        Logradouro é obrigatório
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-20">
                    <mat-checkbox class="example-margin" color="primary" formControlName="tipo">
                        Usuário administrador
                    </mat-checkbox>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="msr-3" [disabled]="!register.valid" mat-raised-button color="primary">Cadastrar</button>
                    <button type="button" color="warn"  mat-raised-button>Cancelar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>    
</section>
